# Auto detect text files and perform LF normalization
* text=auto

*.b4a linguist-language=B4X
*.b4i linguist-language=B4X
*.b4j linguist-language=B4X
*.bas linguist-language=B4X
*.b4a linguist-detectable=true
*.b4i linguist-detectable=true
*.b4j linguist-detectable=true
*.bas linguist-detectable=true
